@font-face {
    font-family: 'ubuntubold';
    src: url('./Ubuntu/ubuntu-bold-webfont.woff2') format('woff2'),
         url('./Ubuntu/ubuntu-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntulight';
    src: url('./Ubuntu/ubuntu-light-webfont.woff2') format('woff2'),
         url('./Ubuntu/ubuntu-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntumedium';
    src: url('./Ubuntu/ubuntu-medium-webfont.woff2') format('woff2'),
         url('./Ubuntu/ubuntu-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubunturegular';
    src: url('./Ubuntu/ubuntu-regular-webfont.woff2') format('woff2'),
         url('./Ubuntu/ubuntu-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}