@import "./utils/responsive.css";
@import "./utils/reboot.css";
@import "./utils/fonts.css";

* {
  box-sizing: border-box;
}

::selection {
  background-color: black;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "ubuntulight", Tahoma, Geneva, sans-serif;
  background-image: url("pattern.jpg");
  background-position: center;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-image: rgb(#e4f1f9, transparent);
  color: black;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

#left-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#left-header img {
  height: 100px;
}

#right-header,
#right-header ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
}

#right-header ul li {
  margin: 0 0 0 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.bloc {
  border: 10px;
}

.padding-around {
  width: 100%;
  padding: 2vw;
  height: 80%;
  min-height: 3vh;
  text-align: center;
}

.padding-around-footer {
  width: 100%;
  padding: 2vw;
  height: 100%;
  min-height: 20vh;
  text-align: center;
}

.padding-around-footer p {
  text-align: right;
}

#section1 img {
  width: 100%;
  height: 100%;
  position: relative;
}

.text {
  position: absolute;
  top: 50%;
  right: 25%;
  left: 25%;
  margin: auto;
}

#section-1-full-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin-bottom: 10px;
}

.skewed {
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  transform: skewY(6deg);
  transform-origin: top right;
}

.section-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#img-2 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  -webkit-clip-path: polygon(0 0, 100% 19%, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 19%, 100% 100%, 0% 100%);
}

#img-3 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  border-radius: 0% 100% 100% 0%;
  padding-right: 15px;
}

#img-4 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  border-radius: 100% 0% 0% 100%;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/*
.center img {
  width: 200px;
  max-width: 70%;
}*/

.center p {
  text-align: left;
  border: solid;
  border-color: #e4f1f9;
}

#logo {
  width: 100px;
}

footer {
  background-color: #e4f1f9;
}

.kind {
  background-color: #fdffff;
  box-shadow: 1px 1px 12px #cbcbcb;
}

.program {
  padding: 50px;
  border-top-style: none;
}

.text p {
  display: block;
  transform: skewY(-6deg);
}

.bienvenue {
  width: 100%;
  height: 100%;
  font-size: 10vw;
  color: #1f7a8c;
  letter-spacing: 5px;
  margin-bottom: 20px;
  background-color: transparent;
  position: relative;
  animation: text 3s 1;
}
.center_introduction {
  font-size: 17px;
  color: #022b3a;
}
@keyframes text {
  0% {
    color: transparent;
    margin-bottom: -40px;
  }
  30% {
    letter-spacing: 25px;
    margin-bottom: -40px;
  }
  85% {
    letter-spacing: 5px;
    margin-bottom: -40px;
  }
}

.skewed .padding-around p {
  transform: skewY(-6deg);
}

.sec3_icon {
  color: #e4f1f9;
  padding: 80px;
  font-size: 60px;
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
  justify-content: center;
}

.circle {
  border: solid;
  border-color: #e4f1f9;
  border-radius: 50%;
}

.section3 {
  background-color: white;
  margin-bottom: 40px;
  padding-top: 40px;
  position: relative;
  top: -40px;
  -webkit-clip-path: polygon(50% 7%, 100% 0, 100% 100%, 0 100%, 0 0);
  clip-path: polygon(50% 7%, 100% 0, 100% 100%, 0 100%, 0 0);
}

.section5 {
  position: relative;
  background-color: white;
  margin-top: 40px;
  padding-top: 40px;
  -webkit-clip-path: polygon(50% 0%, 100% 19%, 100% 100%, 0 100%, 0 19%);
  clip-path: polygon(50% 0%, 100% 19%, 100% 100%, 0 100%, 0 19%);
}

.button_kind {
  width: 40%;
  height: 50px;
  margin-top: 20px;
  background-color: #e4f1f9;
  border: solid #e4f1f9;
  border-radius: 15px;
  font-size: 25px;
  cursor: pointer;
  transition: all 300ms ease;
}

.button_kind:hover {
  background-color: white;
  border: solid 1px #e4f1f9;
}

.section4,
.section4_5 {
  margin-bottom: 30px;
}

.section4_content,
.section45_content {
  background-color: #e4f1f9;
  position: relative;
}

.section4_content {
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 81%);
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 81%);
}

.section4_1 {
  position: relative;
  display: inline-block;
}

.sketchy {
  border: 3px solid #c7c7c7 !important;
  min-height: 30vh;
  padding: 10px;
  display: inline-block;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  position: relative;
}

.sketchy::before {
  content: "";
  border: 4px solid #b4b4b4;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
  border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
}

.sketchy_blue {
  border: 3px solid #d7edf0 !important;
  min-height: 30vh;
  padding: 10px;
  display: inline-block;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  position: relative;
}

.sketchy_blue::before {
  content: "";
  border: 3px solid #d7edf0;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
  border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
}

.deco1 {
  position: absolute;
  width: 150px;
  top: -50px;
  left: -5px;
}

.section4_5_1 {
  position: relative;
}

.deco2 {
  position: absolute;
  width: 130px;
  top: -50px;
  right: -5px;
}

.section45_content {
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 81%, 0 100%);
  clip-path: polygon(0 0, 100% 0%, 100% 81%, 0 100%);
}

#img-4 {
  padding-left: 15px;
}

.section5 {
  position: relative;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.deco3 {
  position: absolute;
  width: 90px;
  top: -30px;
  right: -20px;
}

.deco4 {
  position: absolute;
  width: 100px;
  top: -30px;
  right: -20px;
}

.deco5 {
  position: absolute;
  width: 100px;
  top: -30px;
  right: -20px;
}
.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: relative;

  background-color: #fff;
}

.circle_card {
  margin-top: 80px;
  padding-top: 100px;
  position: relative;
  width: 300px;
  height: 330px;
  background-color: #cbcbcb;
  border-radius: 20px;
  overflow: visible;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  clip-path: circle(280px at center 0);
}

/* Graph */

.graph {
  background-color: white;
  margin-top: 80px;
  padding: 40px 0;
  display: flex;
  margin: auto;
  padding-left: 20px;
  padding-right: 30px;
}

.graph_graph {
  background-color: #e4f1f9;
  flex-basis: 60%;
  margin-right: 10px;
}

.graph_content {
  background-color: beige;
  flex-basis: 40%;
}

.skills {
  width: 100%;
  padding: 0 20px;
}

.skill-name {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 0;
  text-align: left;
}

.skill-bar {
  height: 14px;
  background-color: #616161;
  border-radius: 3px;
}

.skill-per {
  height: 14px;
  background: rgb(116, 216, 247);
  border-radius: 3px;
  position: relative;
  animation: fillBars 2.5s 1;
}

.skill-per::before {
  content: attr(per);
  position: absolute;
  padding: 4px 6px;
  background: #f0ccaa;
  border-radius: 4px;
  font-size: 12px;
  top: -35px;
  right: 0;
  transform: translateX(50%);
}

.skill-per::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #f0ccaa;
  top: -10px;
  right: 0;
  transform: translateX(50%) rotate(45deg);
  border-radius: 2px;
}

@keyframes fillBars {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.per1 {
  max-width: 90%;
}
.per2 {
  max-width: 70%;
}
.per3 {
  max-width: 60%;
}
